WebContent/wsdl/PdfService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://land.it" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://land.it" xmlns:intf="http://land.it" xmlns:tns1="http://responses.land.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://land.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://responses.land.it"/>
   <element name="isValid">
    <complexType>
     <sequence>
      <element name="pdf" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isValidResponse">
    <complexType>
     <sequence>
      <element name="isValidReturn" type="tns1:IsSignedResponse"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Error">
    <sequence>
     <element name="code" type="xsd:int"/>
     <element name="description" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://responses.land.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://land.it"/>
   <complexType name="IsSignedResponse">
    <sequence>
     <element name="error" nillable="true" type="impl:Error"/>
     <element name="response" type="xsd:boolean"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="isValidResponse">

      <wsdl:part element="impl:isValidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isValidRequest">

      <wsdl:part element="impl:isValid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PdfService">

      <wsdl:operation name="isValid">

         <wsdl:input message="impl:isValidRequest" name="isValidRequest">

       </wsdl:input>

         <wsdl:output message="impl:isValidResponse" name="isValidResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PdfServiceSoapBinding" type="impl:PdfService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isValid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isValidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isValidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PdfServiceService">

      <wsdl:port binding="impl:PdfServiceSoapBinding" name="PdfService">

         <wsdlsoap:address location="http://localhost:8080/LandPDF/services/PdfService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
